.form-border{
    border: 5px solid #6b5233;
}
/* input[type="text"],input[type="email"]{
    border-color: #6b5233;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6b5233;
  outline: 0 none;
}
input[type="text"]:focus,input[type="email"]:focus,select:focus,option:focus{
    border-color: #6b5233;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6b5233;
  outline: 0 none;
} */

.form-control:focus{
    border-color: #6b5233;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6b5233;
    outline: 0 none;
}
.form-control{
    border-color: #6b5233;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6b5233;
    outline: 0 none;
}
.contact-form{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url("images/logo.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
}