.inner-heading{
     
        background: url(../images/hexagon.png) repeat #21252b;
        color: #fff;
        padding: 30px 0px;
        font-weight: lighter;
}

.inner-heading h1{
    font-size: 30px;
    line-height: 1.3em;
    font-weight: lighter;
    margin: 0;
    color: #fff;
    font-weight: bolder;
}
.inner-heading .btn-warning{
    color: #ffffff;
    background-color: #ff3115;
    border: none;
    padding: 6px 16px;
    text-transform: uppercase;
    font-size: 1rem;
    vertical-align: center;
    height: auto;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bolder;
} 