.ask-container{
    /* margin-top: 100px; */
}
.ask-container {
    
    left: 0;
    margin-block: 50px;
    
    color: #f1f1f1;
    width: 100%;
  
    right: 0;
  
}

.ask-form{
    background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("images/logo.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
}