.artist-search img{
    width: 100%;
    /* height: auto;  */
    height: 100%;
    /* max-width: 200px; */
}
.artist-search .card{
    width: 100%;
    height: auto;
    max-height: 200px;
}
.artist-search .card-text{
    /* position: static;
    position: relative; */
    position: initial;
}
.artist-search .artist-skills ul{
    display: flex;
    gap: 20px;

}
.artist-search .artist-skills ul li {
  margin-left: 10px;
    list-style-type:disc ;

}
.image-box{
    max-height:170px;
    object-fit: cover;
    object-fit: contain;
}

/* ************************* */

#myVideo{
  
  }
