.border{
border: 1px solid black;
}
/* section */
.section{
    /* height: 100vh; */
    /* background-color: gray; */
}
h1{
    /* font-size: 5rem!important; */
}
h1,h2,h3,h4,h5{
    color: black;
}
label{
    color: black;

}
a{
    text-decoration: none;
    
}

.dark{
/* background-color: rgb(144, 143, 143); */
}
.navbar{
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}
.section{
    /* padding-block: 90px; */
}