.btn-login:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }
  
  .btn-register:hover {
    background-color: black !important;
    color: white !important;
  }

  .btn-login {
    margin-top: 1.3rem;
  }
  .Login_heading {
    text-align: center;
  }