

.login{
  /* height: 100%; */
/* background-image: url("/images/home-video-video.mp4"); */
}

.btn-login:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }
  
  .btn-register:hover {
    background-color: black !important;
    color: white !important;
  }

  .btn-login {
    margin-top: 1.3rem;
  }
  .Login_heading {
    text-align: center;
  }
  #myVideo{
    /* position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; */
  }
  .login{
    left: 0;
    margin-block: 50px;
    /* position: fixed; */
    /* bottom: 0; */
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    width: 100%;
    /* padding: 20px; */
    right: 0;
  }
  
  .request-form {
    /* background-image: url('./images/logo.png'); */
  }