
.request-form 
{
    border: 5px solid #6B5233;
}.whatsapp-wrappper{
    /* background-color: #fff; */
    position: fixed;
    height:100px;
    width: 250px;
    right: 2px;
    /* bottom: 230px; */
    z-index: 999;
}
.whatsapp-wrappper{
animation-timing-function: ease-in;
}
.request-top{
    background-color: #6B5233;
    color: #fff;
}
.request-form{
    /* background-image: url('./images/logo.png') ; */
    background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                  url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    
    
}